name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - run: chmod +x gradlew

      - run: ./gradlew :android-app:assembleDebug

      - uses: actions/upload-artifact@v4
        with:
          name: apk
          path: android-app/build/outputs/apk/debug/*.apk
